@keyframes containerFade{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeIn {
    0%{ 
      opacity:0.3;
    }
    30%{
      opacity:0.8;
    }
    50%{
      opacity:1.1;
    }
    75%{
      opacity:0.9;
    }
    100%{
      opacity:1.0;
    }
  }
  
  @keyframes atom {
    from { transform: none; }
    to { transform: translateY(-10px); }
  }
  @keyframes electron-circle1 {
    from { transform: rotateY(70deg) rotateZ(20deg); }
    to { transform: rotateY(70deg) rotateZ(380deg); }
  }
  @keyframes electron1 {
    from { transform: rotateZ(-20deg) rotateY(-70deg); }
    to { transform: rotateZ(-380deg) rotateY(-70deg); }
  }
  @keyframes electron-circle2 {
    from { transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg); }
    to { transform: rotateY(60deg) rotateX(60deg) rotateZ(330deg); }
  }
  @keyframes electron2 {
    from { transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg); }
    to { transform: rotateZ(-330deg) rotateX(-60deg) rotateY(-60deg); }
  }
  @keyframes electron-circle3 {
    from { transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg); }
    to { transform: rotateY(-60deg) rotateX(60deg) rotateZ(460deg); }
  }
  @keyframes electron3 {
    from { transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg); }
    to { transform: rotateZ(-460deg) rotateX(-60deg) rotateY(60deg); }
  }
   
  @keyframes bounceIn{
    0%{
        opacity: 0;
        transform: scale(0.3) translate3d(0,0,0);
    }
    50%{
        opacity: 0.9;
        transform: scale(1.1);
    }
    80%{
        opacity: 1;
        transform: scale(0.89);
    }
    100%{
        opacity: 1;
        transform: scale(1) translate3d(0,0,0);
    }
  }
  @keyframes bounceOut{
    0%{
    opacity: 1;
    transform: scale(1) translate3d(0,0,0);   
    }
    50%{
    opacity: 1;
    transform: scale(0.89);
    }
    80%{
    opacity: 0.9;
    transform: scale(1.1);
    }
    100%{
    opacity: 0;
    transform: scale(0.3) translate3d(0,0,0);
    display: none;
    }
  }
   
  @keyframes up-and-down {
    0% {
      transform: translateY(0px);
    }
    35% {
      transform: translateY(0px);
      opacity: 0.3;
    }
    50% {
      transform: translateY(-5px);
      opacity: 0.8;
    }
    70% {
      transform: translateY(2px);
      opacity: 0.6;
    }
    85% {
      transform: translateY(0px);
    }
  }

  @font-face{
    src: url('fonts/Montserrat-Regular.otf');
    font-family: 'Montserrat';
    font-weight: 400;
  }

  @font-face{
    font-family:opensansregular;
    src:url(fonts/opensans-regular.ttf)
  }

/*

========================================================
            LOADING ATOM
========================================================

*/

.atom_intrare{
    position: absolute;
    margin:auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 0.5s;
  }

.atom_iesire{
    position: absolute;
    margin:auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
    opacity: 1;
    animation-name: bounceOut;
    animation-duration: 450ms;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
    animation-delay: 2.8s;
    z-index: 1;
}
.atom {
    position: absolute;
    margin:auto;
    top:0;
    right:0;
    left:0;
    bottom:0;
    width: 240px;
    height: 240px;
    animation: atom 0.7s ease-in-out infinite alternate;
    perspective: 450px; 
    transform-style: preserve-3d;
}
.atom:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 35px;
    height: 35px;
    border-radius: 20px;
    background: #cccccc;
    box-shadow:
    inset 0 0 25px #ccccff,      /* inner white */
    inset 10px 0 40px #3385ff,   /* inner left magenta short */
    inset -10px 0 40px #3385ff,  /* inner right cyan short */
    inset 10px 0 150px #0066ff,  /* inner left magenta broad */
    inset -10px 0 150px #0066ff, /* inner right cyan broad */
    0 0 25px #6699ff,            /* outer white */
    -5px 0 40px  #0055ff,        /* outer left magenta */
    5px 0 100px  #001a4d
}
.atom .electron {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 200px;
    height: 200px;
    border-radius: 100px;
    border: 4px solid #f2f2f2;
    transform-style: preserve-3d;
    box-shadow: 10px 10px #16a2e2;
}
.atom .electron:before {
    content: '';
    position: absolute;
    top: -8px;
    left: 0;
    right: 0;
    margin: auto;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background: #1aa7f8c5;
    transform-origin: 50% 50% 0;
    box-shadow:
    inset 0 0 25px #ccccff,      /* inner white */
    inset 10px 0 40px #3385ff,   /* inner left magenta short */
    inset -10px 0 40px #3385ff,  /* inner right cyan short */
    inset 10px 0 150px #0066ff,  /* inner left magenta broad */
    inset -10px 0 150px #0066ff, /* inner right cyan broad */
    0 0 25px #6699ff,            /* outer white */
    -5px 0 40px  #0055ff,        /* outer left magenta */
    5px 0 100px  #001a4d
}
.atom .electron:nth-child(1) {
transform: rotateY(70deg) rotateZ(20deg);
animation: electron-circle1 1s linear infinite;
}
.atom .electron:nth-child(2) {
transform: rotateY(60deg) rotateX(60deg) rotateZ(-30deg);
animation: electron-circle2 1s linear infinite;
}
.atom .electron:nth-child(3) {
transform: rotateY(-60deg) rotateX(60deg) rotateZ(100deg);
animation: electron-circle3 2s linear infinite;
}
.atom .electron:nth-child(1):before {
transform: rotateZ(-20deg) rotateY(-70deg);
animation: electron1 1s linear infinite;
}
.atom .electron:nth-child(2):before {
transform: rotateZ(30deg) rotateX(-60deg) rotateY(-60deg);
animation: electron2 1s linear infinite;
}
.atom .electron:nth-child(3):before {
transform: rotateZ(-100deg) rotateX(-60deg) rotateY(60deg);
animation: electron3 2s linear infinite;
}

.preloader-dots {
    text-align: center;
    position: absolute;
    top:110%;
    left:33%;
    height: 40px;
    width: 80px;
    margin: 0 auto;
}
  
.preloader-dots .dot {
    display: inline-block;
    background: #16a2e2;
    height: 10px;
    width: 10px;
    opacity: 0.3;
    border-radius: 50%;
    animation: up-and-down 1.5s infinite;
    margin: 1px;
}
.preloader-dots .dot:nth-child(2) {
    animation-delay: .15s;
}
.preloader-dots .dot:nth-child(3) {
    animation-delay: .30s;
}
.preloader-dots .dot:nth-child(4) {
    animation-delay: .45s;
}

body{
    margin: 0;
    padding: 0;
    font-family: opensansregular;
}

 /*

========================================================
            NAVIGATION BAR
========================================================

*/

.navBar {
    width: 100%;
    height: 80px;
    position: fixed;
    top: 0px;
    left: 0px;
    background: linear-gradient(to bottom, rgba(8,24,42,1) 0%,rgba(11,37,59,1) 50%,rgba(9,34,55,1) 51%,rgba(14,52,82,1) 100%);
    box-shadow: 0px 3px 11px 1px rgba(0,0,0,0.75);
    z-index: 3;
    transition: 0.6s;
  }
  
.logo{
    position: relative;
    top: 2px;
    /* left: 250px; */
    left: 90px;
    width: 200px;
    height: 80px;
}

  .navBar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    float: right;
    display: flex;
    padding-right:0px;
    transition: 0.2s;
}

.navBar li{
    padding-right: 20px;
    padding-top: 0px;
    border-bottom: transparent 3px solid;
    border-radius:3px;
    transition: 0.2s;
    height: 100%;
}

.navBar li:last-child{
  height: 0;
}

.navBar li:last-child:hover{
  height: 100%;
  background:rgba(16,63,104,1);
}

.navBar li .a1{
    color: rgb(231, 231, 231);
    text-align: center;
    padding: 20px 20px;
    text-decoration: none;
    font-family: opensansregular;
    font-size: 100%;
    display:inline-block;
    height: 37px;
    position: relative;
    top: 7px;
    left: 10px;
    transition: 0.2s;
}

.navBar .a1 i{
    text-align: center;
}

.navBar .a1:hover{
    color: #00a2ff;
}

.navBar li:hover{
  color: #00a2ff;
  border-bottom: #00a2ff 4px solid;
  background: linear-gradient(to bottom, rgba(15,45,79,1) 0%,rgba(20,71,112,1) 50%,rgba(16,63,104,1) 51%,rgba(27,99,155,1) 100%);
}

.others{
  position: relative;
  display: inline-block;
}

.othersDropDown{
  position: relative;
  transform: translateY(-40px);
  opacity: 0;
  transition: 0.2s;
}

.othersBg{
  position: relative;
  width: calc(100% + 20px);
  height: 100%;
  background-color: rgb(11, 21, 37);
  margin-top: 3px;
}

.othersBg div{
  position: relative;
  background-color: rgb(1, 29, 48);
  height: 50px;
  cursor: pointer;
}

.othersBg div:hover{
  background-color: rgb(0, 104, 202);
}

.othersDropDown a{
  position: relative;
  color: white;
  text-decoration: none;
  display: flex;
  left: 15px;
  top: 15px;
  margin-right: 20px;
  font-family: 'Montserrat';
}

.others:hover .othersDropDown{
  transform: translateY(0px);
  transition: 0.2s;
  opacity: 1;
}

.others:hover .a1Hover{
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.tabelClassSmall{
    display: none;
}

.subiecteClassSmall{
    display: none;
}

.materieClassSmall{
    display: none;
}

.indexClassSmall{
    display:none;
}

.blankClass{
    width: 1px;
    display: none;
}

/*

CONTENT

*/

.container{
    position: absolute;
    width: 1440px;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    opacity: 1;
}

.background{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000f1d;
}

.subContainer{
    position: relative;
    top: 81px;
    width: 100%;
    display: flex;
}

.sidebar{
    position: relative;
    top: 0;
    left: 0;
    width: 300px;
    height: 500px;
}

.sidebar h1{
    color: white;
    font-family: opensansregular;
    margin: 0;
    padding: 0;
    position: relative;
    top: 20px;
    text-align: center;
   /* background: linear-gradient(to bottom, rgba(14,52,82,1) 0%,rgba(9,34,55,1) 49%,rgba(11,37,59,1) 50%,rgba(8,24,42,1) 100%); */
}

.listContainer{
    position:relative;
    top:40px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(1, 20, 43);
}

.button{
    position: relative;
    height: auto;
    width: auto;
    background-color:rgb(0, 63, 114) ;
    cursor: pointer;
    padding-left: 15px;
    padding-bottom: 30px;
    transition: 0.3s;
}

.button a{
    position: relative;
    margin: 0;
    padding: 0;
    font-family: opensansregular;
    top: 14px;
    font-size: 20px;
}

.button:hover{
    background-color: rgb(0, 113, 206);
}

.content{
    position: relative;
    top: 0;
    left: 70px;
    width: calc(100% - 370px);
    height: auto;
    margin-bottom: 100px;
}

.content h1{
    color: white;
    font-family: opensansregular;
    margin: 0;
    padding: 0;
    position: relative;
    top: 20px;
    left: -30px;
    margin-bottom: 40px;
}

.materieItem{
    position: relative;
    width: 100%;
}

.section1{
    width: 40%;
    height: auto;
    float: left;
}

.section1 h2{
    margin: 0;
    padding: 0;
    color: white;
    font-family: opensansregular;
    font-size: 36px;
}

.section1 p{
    margin: 0;
    margin-top: 35px;
    font-family: opensansregular;
    color: white;
}

.section2{
    width: 60%;
    position: relative;
    height: auto;
    float: right;
}

.section2 .teorie{
    position: relative;
    left: 0;
    top: 140px;
    margin-left: 60px;
    width: 60%;
    height: 80px;
    background-color: rgb(4, 83, 148);
    text-align: center;
    cursor: pointer;
}

.section2 .teorie:hover{
    background-color: rgb(0, 114, 207);
}

.section2 .teorie span{
    position: relative;
    margin: 0;
    padding: 0;
    top:12px;
    font-size: 40px;
}

.m1{
    height: 250px;
}
.m2{
    height: 380px;
}

.m1 .section2{
    top:-50px;
}

.m2 .section2{
    top:-15px;
}

.sidebar .active{
    background-color: rgb(0, 113, 206);
}

@media screen and (max-width:1460px) {
  .container{
      width: 100%;
  }
  .sidebar{
      width: 240px;
  }
}

@media screen and (max-width:1320px) {
  .container{
    width: 1320px;
    transform:translate(0,0);
    top: 0;
    left: 0;
  }
}